### Slicer Function

In [3]:
def slicer(vts, vte, stride, ow, ww, pw, granularity):
    # Dictionary
    granularity_map = {
        'days': 'days',
        'hours': 'hours',
        'minutes': 'minutes',
        'seconds': 'seconds'
    }

    # Calculate the timedelta based on the selected granularity
    delta_unit = granularity_map[granularity]
    delta = timedelta(**{delta_unit: stride})

    ow_delta = timedelta(**{delta_unit: ow})
    ww_delta = timedelta(**{delta_unit: ww})
    pw_delta = timedelta(**{delta_unit: pw})

    result = []
    current_start = vts

    while current_start + ow_delta + ww_delta + pw_delta <= vte:
        st = current_start
        ow = current_start + ow_delta
        ww = current_start + ow_delta + ww_delta
        pw = current_start + ow_delta + ww_delta + pw_delta
        result.append((st,ow, ww, pw))
        current_start += delta
    df = pd.DataFrame(result, columns=['st','ow', 'ww', 'pw'])
    df['i'] = df.index
    return df

# Example usage:
vts_example = datetime(2023, 9, 1, 12, 00, 30)
vte_example = datetime(2023, 9, 2, 18, 30, 45)
#            def slicer(    vts,       vte,       stride, ow,  ww,   pw, granularity)
result_example = slicer(vts_example, vte_example,  1,     3,   1,    2,  'minutes')
result_example

,st,ow,ww,pw,i
0,2023-09-01 12:00:30,2023-09-01 12:03:30,2023-09-01 12:04:30,2023-09-01 12:06:30,0
1,2023-09-01 12:01:30,2023-09-01 12:04:30,2023-09-01 12:05:30,2023-09-01 12:07:30,1
2,2023-09-01 12:02:30,2023-09-01 12:05:30,2023-09-01 12:06:30,2023-09-01 12:08:30,2
3,2023-09-01 12:03:30,2023-09-01 12:06:30,2023-09-01 12:07:30,2023-09-01 12:09:30,3
4,2023-09-01 12:04:30,2023-09-01 12:07:30,2023-09-01 12:08:30,2023-09-01 12:10:30,4
...,...,...,...,...,...
1820,2023-09-02 18:20:30,2023-09-02 18:23:30,2023-09-02 18:24:30,2023-09-02 18:26:30,1820
1821,2023-09-02 18:21:30,2023-09-02 18:24:30,2023-09-02 18:25:30,2023-09-02 18:27:30,1821
1822,2023-09-02 18:22:30,2023-09-02 18:25:30,2023-09-02 18:26:30,2023-09-02 18:28:30,1822
1823,2023-09-02 18:23:30,2023-09-02 18:26:30,2023-09-02 18:27:30,2023-09-02 18:29:30,1823
1824,2023-09-02 18:24:30,2023-09-02 18:27:30,2023-09-02 18:28:30,2023-09-02 18:30:30,1824